.noteHistoryContainer {
  height: 30px;
}

.showButton {
  border-radius: 5px;
  background-color: #20eeb0;
  border: none;
  font-family: "Inter";
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px;
}

.showButton:hover {
  background-color: blueviolet;
}
